/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
    font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Everything above is CSS reset */

:root {
  --header-footer-background-color: rgb(255, 179, 102);
  font-family: "Quintessential";
}

h1, h3{
  font-family: "Lavishly Yours";
}

body {
    background-color: rgb(255, 243, 230);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
  flex: 0 0 100px;
  position: sticky;
  top: 0px;
  background-color: var(--header-footer-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0 50px;
}

header button {
  border: none;
  background-color: rgb(32, 96, 64);
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
}

header > nav {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

header > h1 {
  font-size: 2.1rem;
}

#content {
  flex: 1 0 auto;
}

.home-tab { 
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  grid-template-rows: 1fr;
  height: 100%;
}

.home-text {
  grid-column: 1;
  padding: 100px;
  font-size: 1.75rem;
}

.home-image {
  grid-column: 2;
}

.menu {
  height: 100%;
  display: grid;
  padding: 50px 70px;
  grid-template-rows: repeat(auto-fill, 500px);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  padding: 50px 100px;
  margin-bottom: 100px;
  column-gap: 50px;
  row-gap: 50px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.menu-card > h3 {
  font-size: 1.5rem;
}

.menu-card > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding: 100px;
  column-gap: 50px;
}

.about h3 {
  font-size: 2rem;
}

.about p {
  font-size: 1.2rem;
  padding: 20px;
}

.description {
  grid-column: 1;
}

.fake-map {
  grid-column: 2;
  width: 800px;
  height: auto;
  justify-self: center;
  align-self: center;
}

footer{
  background-color: var(--header-footer-background-color);
  font-size: 1rem;
  display: flex;
  flex: 0 0 110px;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.phone {
  display: inline;
  width: 30px;
  height: 30px;
}

.uber-eats {
  display: flex;
  align-items: center;
}

.uber-eats-logo {
  display: inline;
  max-height: 90px;
  width: auto;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-left: 20px;
}

.github { 
  display: flex;
  align-items: center;
}

.github-logo {
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
}


.github > a {
  margin: 0 5px;
}

.github-logo {
  display: inline;
  margin-left: 10px;
}